.hoverTooltipContainer {  
    position: relative;  
    display: inline-block;  
  }  
    
  .hoverTooltip {  
    position: absolute;  
    z-index: 1000;  
    bottom: 100%;  
    left: 50%;  
    transform: translateX(-50%);  
    padding: 5px 10px;  
    white-space: nowrap;  
    @apply absolute border  px-1 py-1 rounded-lg text-xs  text-gray-10;
    left: 50%;
    border-color: #2d343d;
    background-color: #101922;
  }