@tailwind base;
@tailwind utilities;
@import url("./aggregation.css");

* {
  box-sizing: border-box;
}
:root {
  --background-color: #030f16;
}

body {
  background: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
