@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./aggregationClass.css");
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../../public/SpaceGrotesk-Light.ttf");
}
@font-face {
  font-family: "SpaceGroteskBold";
  src: url("../../public/SpaceGrotesk-Bold.ttf");
}
@font-face {
  font-family: "SpaceGroteskRegular";
  src: url("../../public/SpaceGrotesk-Regular.ttf");
}

* {
  box-sizing: border-box;
}
:root {
  --background-color: #030f16;
  --toastify-color-progress-light: transparent !important;
}

body {
  /* background: var(--background-color); */
  font-family: "SpaceGroteskRegular";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* font */
.paceGrotesk-Bold {
  font-family: "SpaceGroteskBold";
}

/* input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background: rgba(33, 43, 53, 0.1);
  background: rgba(33, 43, 53, 0.1);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #030f16;
  border-radius: 2px;
}

input {
  margin: 0;
  background-color: transparent;
  display: block;
  width: 100%;
  padding: 0;
  border-width: 0;
}

input:focus {
  outline: none;
  border-width: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* custom-tooltip */
.react-tooltip.custom-tooltip {
  /* width: 148px;  The width cannot be set dead*/
  border-radius: 5px;
  border: 1px solid #414b57;
  background-color: #2a3643;
  font-size: 12px;
  z-index: 99;
  padding: 6px 12px;
  box-shadow: none;
  opacity: 1;
  transform: translateY(-6px);
}

input[type="range"].lock-bar {
  display: block;
  -webkit-appearance: none;
  background: #717e8d;
  height: 8px;
  border-radius: 2px;
  margin: 0 auto;
  outline: none;
  background-image: linear-gradient(#9dfd01, #5f9900);
  background-size: 0% 100%;
  background-repeat: no-repeat;
}
input[type="range"].lock-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: white;
  width: 14px;
  height: 12px;
  cursor: pointer;
  border-radius: 3px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotateInfinite {
  animation: spin 1s linear infinite;
  transform-origin: center;
}

/* slider start*/
.multi-slider {
  height: 22px;
}

.multi-slider .thumb {
  width: 22px;
  height: 22px;
  cursor: pointer;
  border: 1px solid #1d2932;
  outline: none;
  background: #9eff00;
}
.multi-slider.disabled .thumb-0,
.multi-slider.disabled .track-1 {
  visibility: hidden;
}
.multi-slider .track-0 {
  height: 10px;
  top: 6px;
  background-color: #9eff00;
}
.multi-slider .track-1 {
  height: 10px;
  top: 6px;
  background-color: #121e27;
}

.multi-slider-double {
  height: 22px;
}
.multi-slider-double .thumb {
  width: 22px;
  height: 22px;
  cursor: pointer;
  border: 1px solid #1d2932;
  outline: none;
  background: #9eff00;
}

.multi-slider-double .track-0 {
  height: 10px;
  top: 6px;
  background-color: #121e27;
}
.multi-slider-double .track-1 {
  height: 10px;
  top: 6px;
  background-color: #9eff00;
}
.multi-slider-double .track-2 {
  height: 10px;
  top: 6px;
  background-color: black;
}
/* slider end*/
.loading-dots {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 1rem;
}

.loading-dots::after {
  content: "...";
  animation: fadeInOut 1s infinite;
}
