.tooltip {
  @apply absolute border border-slate-600 px-1 py-1 rounded-lg text-xs  bottom-6 bg-transparent text-lightWhite-20;
  left: 50%;
  display: none;
  transform: translateX(-50%);
}
.iconContainer:hover {
  cursor: pointer;
}
.iconContainer:hover + .tooltip {
  @apply block;
}
